<script src="https://cdn.jsdelivr.net/npm/localforage@1.10.0/dist/localforage.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<script src="lib/a.js"></script>
<script src="js/common.js"></script>
<script src="js/http.js"></script>
<% if (typeof scripts !== 'undefined') { %>
  <% scripts.forEach(function(script) { %>
  <script src="<%= script %>"></script>
  <% }) %>
<% } %>
</body>
</html>