<script src="lib/localforage.min.js"></script>
<script src="lib/axios.min.js"></script>
<script src="js/common.js"></script>
<script src="js/http.js"></script>
<% if (typeof scripts !== 'undefined') { %>
  <% scripts.forEach(function(script) { %>
  <script src="<%= script %>"></script>
  <% }) %>
<% } %>
</body>
</html>